body{
    width: 300px;
}
.slider, .edit-slider {
    width: 300px;
    -webkit-appearance: none;
    height: 5px;
    background: #E0E0E0;
    outline: none;
}
.edit-slider {
    margin-bottom: 5px;
}

.slider-container{
    width: 300px;
    float: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 15px;
    background: #202020;
}
#tos-message{
    display: none;
}
.slider-pos-extreme{
    float:right;
}
.slider-neg-extreme{
    float: left;
}
.slider-middle{
    margin-left: 150px;
    margin-right: 150px;
    position: absolute;
}
.topic-breakdown{
    width: 300px;
    border-bottom: 1px solid black;
    padding: 15px 0px;
}
button {
    background-color: white;
    border: 2px solid #b3b3b3;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}
button:focus {
    outline: none;
}
button:active{
    background-color: #e6e6e6;
}
.hidden{
    display: none;
}
.utilities button{
    width: 140px;
    height: 30px;
}
.utilities button:first-of-type{
    margin-right: 20px;
}
.topic-breakdown b{
    text-transform: capitalize;
}
.topic-breakdown:last-of-type{
    border-bottom: none;
}
#more {
    background: #e0e0e0;
    width: 300px;
    display: block;
    padding: 10px 0px;
    text-align: center;
    color: #646464;
    cursor: pointer;
    margin-top: 10px;
}
#advanced-settings{
    display: none;
}
#ignore-mode textarea{
    border-radius: 3px;
    width: 300px;
    padding: 10px 0px;
    margin: 5px 0px;
    height: 75px;
    resize: none;
}
.settings{
    margin: 5px 0px;
    border-top: 1px solid black; 
    padding-top: 20px;  
}
.settings button{
    width: 300px;
    padding: 10px 0px;
    margin: 5px 0;
}
button:hover{
    color: black;
    border-color: black;
    cursor: pointer;
}
#save-edit, #save-ignore{
    color: #02ad00;
    border-color: #02ad00;
}
#ignore-domain, #cancel-edit, #cancel-ignore{
    color: #d10000;
    border-color: #d10000;
}