body{
    width: 300px;
}
.slider, .edit-slider {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    background: #E0E0E0;
    outline: none;
}
.edit-slider {
    margin-bottom: 5px;
}

.slider-container{
    width: 200px;
    float: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 15px;
    background: #202020;
}
#tos-message{
    display: none;
}
.slider-pos-extreme{
    float:right;
}
.slider-neg-extreme{
    float: left;
}
.slider-middle{
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
}
.topic-breakdown{
    width: 300px;
    border-bottom: 1px solid black;
    padding: 15px 0px;
}
.utilities{
    width: 100px;
    float: right;
}
button {
    background-color: white;
    border: 2px solid #b3b3b3;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}
button:focus {
    outline: none;
}
button:active{
    background-color: #e6e6e6;
}
.hidden{
    display: none;
}
.utilities button{
    width: 90px;
    margin-left: 10px;
    height: 30px;
}
.topic-breakdown b{
    text-transform: capitalize;
}
.topic-breakdown:last-of-type{
    border-bottom: none;
}
#more {
    background: #e0e0e0;
    width: 300px;
    display: block;
    padding: 10px 0px;
    text-align: center;
    color: #646464;
    cursor: pointer;
    margin-top: 10px;
}
#advanced-settings{
    display: none;
    margin: 5px 0px;
}
#advanced-settings button{
    width: 300px;
    padding: 10px 0px;
    margin: 5px 0;
}